### lists

1. list(列表)用來儲存一系列的資料item(項目), 並具有順序
2. 通常使用複數的變數名稱, 例如: names, items, digits等
3. 語法: 使用中括號[ ], 例如:
```
colors=["red","green","blue","black"]
```
4. 每一個item具有一個號碼稱爲index(索引值), 從0開始算起

In [1]:
colors=["red","green","blue","black"]
colors

['red', 'green', 'blue', 'black']

In [2]:
colors[0]

'red'

In [3]:
colors[3]

'black'

In [4]:
#colors[4]

In [5]:
colors[-1]

'black'

In [6]:
colors[-2]

'blue'

In [7]:
# replace, append, insert, del, pop

fruits = ["apple","orange","banana"]
fruits[0]="kiwi"
fruits

['kiwi', 'orange', 'banana']

In [8]:
# append() 方法
fruits.append("apple")
fruits

['kiwi', 'orange', 'banana', 'apple']

In [9]:
# insert() 方法
fruits.insert(0,"grape")
fruits

['grape', 'kiwi', 'orange', 'banana', 'apple']

In [10]:
#del是一個statement(敘述)
del fruits[0] 
fruits

['kiwi', 'orange', 'banana', 'apple']

In [11]:
# pop() 方法
# 移除最後一個item, 並回傳該item
popped_fruit = fruits.pop()
popped_fruit

'apple'

In [12]:
fruits

['kiwi', 'orange', 'banana']

In [13]:
# 移除某個位置的item, 並回傳該item
popped_fruit = fruits.pop(1)
popped_fruit

'orange'

In [14]:
fruits

['kiwi', 'banana']

In [15]:
# remove() 方法
fruits.remove('kiwi')
fruits

['banana']

### 練習: Guest List

1. 列一個名單列表, 邀請他們來晚餐
   - 至少三位客人
   - 並對於每一個客人, 列印邀請訊息
2. 改變列表
   - 有一位客人無法參加, 請替換成另一位客人
   - 重新發出邀請訊息
3. 買了一張大餐桌, 可以邀請更多的客人
   - 再多邀請三位客人
   - 放置在列表的最前面, 中間, 及最後面 (insert, append)
   - 重新發出邀請訊息
4. 這張大餐桌來不及到貨, 需要縮減列表名單
   - 只能邀請二位客人
   - 從列表的最後面開始移除, 直到剩下二位客人(pop)
   - 發出取消的訊息給被移除的客人
5. 最後因爲臨時有事, 取消晚餐
   - 將僅存的二位客人從列表中移除(del)
   - 列印最後空的名單列表

In [16]:
# sort, sorted, reverse, len
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars

['bmw', 'audi', 'toyota', 'subaru']

In [17]:
# sort() 方法: 排序, 按照自然順序(文字:字母順序)
cars.sort()
cars

['audi', 'bmw', 'subaru', 'toyota']

In [18]:
# 反向排序
cars.sort(reverse=True)
cars

['toyota', 'subaru', 'bmw', 'audi']

In [19]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars

['bmw', 'audi', 'toyota', 'subaru']

In [20]:
# sorted() 函數, 不會改變原本list的順序
sorted(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [21]:
cars

['bmw', 'audi', 'toyota', 'subaru']

In [22]:
sorted(cars, reverse=True)

['toyota', 'subaru', 'bmw', 'audi']

In [23]:
cars

['bmw', 'audi', 'toyota', 'subaru']

In [24]:
# reverse() 方法: 顛倒原本的list item順序
cars.reverse()
cars

['subaru', 'toyota', 'audi', 'bmw']

### 練習: Seeing the world

1. 列表中包含5個最希望旅行的國家(按照希望的優先順序)
2. 按照原本的順序列印列表內容
3. 按照字母順序列列印列表內容, 但不要改變原本的列表順序
4. 改變原本的列表順序, 最希望的國家排在最後面
5. 改變原本的列表順序, 按照字母順序排列
6. 改變原本的列表順序, 按照字母相反的順序排列

### Looping through a list

1. 針對列表中的每一個item執行相同的邏輯(尋訪每一個item)
2. **for in** loop:

```
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
	print(magician)
```

   - 每一個循環, 從list magicians中取出一個item, 儲存在一個暫時性的變數magician中
   - 縮排(indent)的內容是每一次循環要執行的邏輯內容
   - 暫時性的變數magician,其名稱可以自訂
   - 建議list使用複數名稱, 暫時性變數使用單數名稱
   
3. 若忘記做縮排(indent), 會發生錯誤
```
  File "/home/ypnie108/.config/sublime-text-3/Packages/User/python_work/hello_world.py", line 3
    print(magician)
    ^
IndentationError: expected an indented block
[Finished in 0.5s with exit code 1]
[cmd: ['python3', '-u', '/home/ypnie108/.config/sublime-text-3/Packages/User/python_work/hello_world.py']]
[dir: /home/ypnie108/.config/sublime-text-3/Packages/User/python_work]
[path: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin]
```

In [25]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
	print(magician)

alice
david
carolina

### 練習: Animals

1. 列表中包含至少3種動物名字, 這些動物具備一些相同的特性, 例如: 草食性, 會跳躍等
2. 用for in loop:
   - 列印動物的名字
   - 列印共同特性的訊息
3. 最後在loop外列印"這些都是我喜歡的動物"訊息

### Numerical sequence

1. range() 函數(實際上是一個class, 類別)
   - range(1,5) -> 1,2,3,4 不包括5
   - range(5) -> 0,1,2,3,4 從0開始
2. 轉換成list 
   - list(range(1,5)) 
3. range()的第三個參數: step size(間隔)
   - list(range(1,11,2))
4. minimum, maximum, summation 函數
   - min()
   - max()
   - sum()

In [26]:
# range, list
for value in range(1,5):
	print(value)

numbers = list(range(1,5))
print(numbers)

odd_numbers = list(range(1,20,2))
print(odd_numbers)

squares = []
for value in range(1,11):
	square = value**2
	squares.append(square)
print(squares)

1
2
3
4
[1, 2, 3, 4]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)

0

In [28]:
max(digits)

9

In [29]:
sum(digits)

45

In [30]:
for value in range(10):
    print(value)

0
1
2
3
4
5
6
7
8
9

### List Comprehension(列表理解語法)

1. 將for in loop與建立list的語法結合爲一
```
squares = [value**2 for value in range(1,11)]
print(squares)
```
   - 沒有使用冒號:
   - for in loop 前放置要產生的list item的運算式, 例如 value**2
   - 整個包含在中掛號[ ]內

### 練習

1. 使用for in loop 列印1到20的數字
2. 建立一個list, 包含1到20的數字, 然後再印出
3. 建立一個list, 包含1到1000的數字, 然後列印最大值與最小值以及總和
4. 使用for in loop 列印1到21的奇數
5. 建立一個list, 包含3到30內的3的倍數, 然後印出這個list
6. 建立一個list, 包含1到10的立方值, 然後印出這個list
7. 利用list comprehension語法, 先建立一個list, 包含1到10的立方值, 然後印出

In [31]:
for a in range(1,21):
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [32]:
b = list(range(1,21))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [33]:
b = list(range(1,1001))
print(max(b))
print(min(b))
print(sum(b))

1000
1
500500

In [34]:
for a in range(1,22,2):
    print(a)

1
3
5
7
9
11
13
15
17
19
21

In [35]:
b = list(range(3,31,3))
print(b)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [36]:
a = []
for b in range(1,11):
    cube = b**3
    a.append(cube)
print(a)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [37]:
b = [a**3 for a in range(1,11)]
print(b)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### Slice ( part of a list)

1. 從一個已存在的list的items中產生一個新的list(內容做了copy)
2. 指定list items的起始與結束index位置, 但類似range(),不包含結束的index 
   - 注意冒號的使用
```
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])
```
3. 若省略起始index, 則從第一個開始(index等於0)
```
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[:2])
```
4. 若省略結束index, 則以最後一個做結束(index等於**結束indexed+1**)
```
players = ['chrles', 'martina', 'michael', 'florence', 'eli']
print(players[-3:])
```
5. 類似range的第三個參數, 可以指定間隔(step)
```
values = list(range(1,11))
sliced_values = values[0:len(values):2]
print(sliced_values)
```
6. loop through a slice
```
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")
for player in players[:3]:
   print(player.title())
```
7. 可以用來copy list(產生一個新的list, 內容items是原本的copy)
```
players = ['charles', 'martina', 'michael', 'florence', 'eli']
copy_players = players[:]
print(copy_players)
copy_players[1]="helen" #改變copy的list內容
print(copy_players)
print(players) #不影響原本list內容
```
8. 若使用 = operator 不會產生新的list
```
players = ['charles', 'martina', 'michael', 'florence', 'eli']
players2 = players
print(players2)
players2[1]="helen"
print(players2)
print(players) 
```

### 練習: Seeing the world - part II

1. 列表中包含5個最希望旅行的國家
2. 列印"列表中前3個最希望去的國家是XXX,YYY,ZZZ" (使用slice取得最前面3個items)
3. 列印"列表中間3個最希望去的國家是XXX,YYY,ZZZ" (使用slice取得中間3個items)
4. 列印"列表中後3個最希望去的國家是XXX,YYY,ZZZ" (使用slice取得最後面3個items)
5. 從這個列表產生一個copy列表
   - 在copy列表中加入一個新的國家
   - 列印原本列表,以及copy列表內容, 確認copy列表與原本列表內容是不相同的

In [38]:
countries=["Tailand","Nepal","Japan","Spain","Russia"]
top_three = countries[:3]
print(f'列表中前3個最希望去的國家是{top_three[0]},{top_three[1]},{top_three[2]}')
middle_three = countries[1:4]
print('列表中間3個最希望去的國家是{},{},{}'.format(middle_three[0],middle_three[1],middle_three[2]))
bottom_three=countries[2:]
print('列表中後3個最希望去的國家是',bottom_three[0],bottom_three[1],bottom_three[2])
copy = countries[:]
copy.append('Ireland')
print(copy)
print(countries)

列表中前3個最希望去的國家是Tailand,Nepal,Japan
列表中間3個最希望去的國家是Nepal,Japan,Spain
列表中後3個最希望去的國家是 Japan Spain Russia
['Tailand', 'Nepal', 'Japan', 'Spain', 'Russia', 'Ireland']
['Tailand', 'Nepal', 'Japan', 'Spain', 'Russia']

### Tuple
1. 類似list, 但是tuple的內容不能改變(稱爲immutable)
2. 又稱爲immutable list
3. 語法: 使用小括號
   - 實際上tuple是由逗號定義它的內容, 小括號只是讓它看起來清楚, 增加可讀性
   - 若只包含一個item, 必須要有結束的逗號
```
>>> dimensions = (100,50) #小括號可省略
>>> dimensions[0]
100
>>> dimensions[1]
50
>>> dimensions[0]=200
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'tuple' object does not support item assignment
>>> sizes = (10,) #一個item, 後面要加上逗號 ,
>>> len(sizes)
```
4. 雖然tuple的items內容不能改變, 但是可以指定一個新的tuple
```
>>> dimensions = (200,300,400)
>>> print(dimensions)
(200, 300, 400)
```

In [39]:
#dimensions=(100,50)
dimensions=(100,50)
print(dimensions)
print(dimensions[0])

(100, 50)
100

In [40]:
#dimensions[0]=200

In [41]:
size = (10,)
print(size)
print(len(size))
print(type(size))

(10,)
1
<class 'tuple'>